<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Projet Alien M2 MBDS
  </h1>
  <img width="200" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

  <h2>Membres du projet</h2>
  <app-username [username]="'Chaibi Sofian'" (userClicked)="onUserWasClicked($event)"></app-username>
  <app-username [username]="'Khchiou Mohamed'" (userClicked)="onUserWasClicked($event)"></app-username>
</div>




<div id="app">


  <button (click)="newCas();">Ajouter un nouveau cas </button>
  <div id="divAjout" style="display: none;">
    <form id="formulaireAjout">
      <fieldset>
        <legend>Ajout d'un Cas</legend>
        <label>
          Nom dossier: <input type="text" name="nom_dossier" [(ngModel)]="nouveauCas.nom_dossier" required="" placeholder="Cas A la miage ">
        </label>
        <p></p>
        <label>
          Zone: <input type="text" name="zone" [(ngModel)]="nouveauCas.zone" required="" placeholder="France">
        </label>
        <p></p>
        <label>
          Zone Code: <input type="text" name="zone_code" [(ngModel)]="nouveauCas.zone_code" required="" placeholder="02">
        </label>
        <p></p>
        <label>
          Zone Type: <input type="text" name="zone_type" [(ngModel)]="nouveauCas.zone_type" required="" placeholder="Departement">
        </label>
        <p></p>
        <label>
          annee: <input type="text" name="annee" [(ngModel)]="nouveauCas.annee" required="" placeholder="année du fait yyyy">
        </label>
        <p></p>
        <label>
          mois: <input type="text" name="mois" [(ngModel)]="nouveauCas.mois" required="" placeholder="mois du fait mm">
        </label>
        <p></p>
        <label>
          jours: <input type="text" name="jour" [(ngModel)]="nouveauCas.jour" required="" placeholder="jour du fait jj">
        </label>
        <p></p>
        <label>
          description: <input type="text" name="resume_desc" [(ngModel)]="nouveauCas.resume_desc" required="" placeholder="Blablablabla">
        </label>
        <p></p>
        <label>
          resumé: <input type="text" name="resume_short" [(ngModel)]="nouveauCas.resume_short" required="" placeholder="petit résumé pas trop long">
        </label>
        <p></p>
        <label>
          nb temoignage: <input type="text" name="nb_temoignage" [(ngModel)]="nouveauCas.nb_temoignage" required="" placeholder="nombre de temoignage">
        </label>
        <p></p>
        <label>
          nb temoin: <input type="text" name="nb_temoin" [(ngModel)]="nouveauCas.nb_temoin" required="" placeholder="Nombre de temoin present">
        </label>
        <p></p>
        <label>
          nb pan: <input type="text" name="nb_pan" [(ngModel)]="nouveauCas.nb_pan" placeholder="???">
        </label>
        <p></p>
        <label>
          etrangeté: <input type="text" name="etrangete" [(ngModel)]="nouveauCas.etrangete" placeholder="niveau entre 0 et 1">
        </label>
        <p></p>
        <label>
          fiabilité: <input type="text" name="fiabilite" [(ngModel)]="nouveauCas.fiabilite" placeholder="niveau entre 0 et 1">
        </label>
        <p></p>
        <label>
          qte info: <input type="text" name="qte_info" [(ngModel)]="nouveauCas.qte_info" placeholder="niveau entre 0 et 1">
        </label>
        <p></p>
        <label>
          consitance: <input type="text" name="consitance" [(ngModel)]="nouveauCas.consitance" placeholder="niveau entre 0 et 1">
        </label>
        <p></p>
        <label>
          classification: <input type="text" name="classification" [(ngModel)]="nouveauCas.classification" required="" placeholder="Type A, B, C, ou">
        </label>
        <p></p>
        <button (click)="saveNewCas();">Ajouter ce cas </button>
      </fieldset>
    </form>
  </div>
  
  <!-- Div de modification de cas -->
  <div id="divModification" style="display: none;">
    <form id="formulaireModification">
      <fieldset>
        <legend>Modification d'un Cas</legend>
        <label>
          Id Cas: <input type="text" name="id_cas" [(ngModel)]="casModif.id_cas" required readonly>
        </label>
        <p></p>
        <label>
          Nom dossier: <input type="text" name="nom_dossier" [(ngModel)]="casModif.nom_dossier" required>
        </label>
        <p></p>
        <label>
          Zone: <input type="text" name="zone" [(ngModel)]="casModif.zone" required>
        </label>
        <p></p>
        <label>
          Zone Code: <input type="text" name="zone_code" [(ngModel)]="casModif.zone_code" required>
        </label>
        <p></p>
        <label>
          Zone Type: <input type="text" name="zone_type" [(ngModel)]="casModif.zone_type" required>
        </label>
        <p></p>
        <label>
          annee: <input type="text" name="annee" [(ngModel)]="casModif.annee" required>
        </label>
        <p></p>
        <label>
          mois: <input type="text" name="mois" [(ngModel)]="casModif.mois" required>
        </label>
        <p></p>
        <label>
          jours: <input type="text" name="jour" [(ngModel)]="casModif.jour" required>
        </label>
        <p></p>
        <label>
          description: <input type="text" name="resume_desc" [(ngModel)]="casModif.resume_desc">
        </label>
        <p></p>
        <label>
          resumé: <input type="text" name="resume_short" [(ngModel)]="casModif.resume_short" required>
        </label>
        <p></p>
        <label>
          nb temoignage: <input type="text" name="nb_temoignage" [(ngModel)]="casModif.nb_temoignage" required>
        </label>
        <p></p>
        <label>
          nb temoin: <input type="text" name="nb_temoin" [(ngModel)]="casModif.nb_temoin" required>
        </label>
        <p></p>
        <label>
          nb pan: <input type="text" name="nb_pan" [(ngModel)]="casModif.nb_pan">
        </label>
        <p></p>
        <label>
          etrangeté: <input type="text" name="etrangete" [(ngModel)]="casModif.etrangete" placeholder="niveau entre 0 et 1">
        </label>
        <p></p>
        <label>
          fiabilité: <input type="text" name="fiabilite" [(ngModel)]="casModif.fiabilite" placeholder="niveau entre 0 et 1">
        </label>
        <p></p>
        <label>
          qte info: <input type="text" name="qte_info" [(ngModel)]="casModif.qte_info" placeholder="niveau entre 0 et 1">
        </label>
        <p></p>
        <label>
          consitance: <input type="text" name="consitance" [(ngModel)]="casModif.consitance" placeholder="niveau entre 0 et 1">
        </label>
        <p></p>
        <label>
          classification: <input type="text" name="classification" [(ngModel)]="casModif.classification" required placeholder="Type A, B, C, ou">
        </label>
        <p></p>
        <button (click)="saveModif();">Modifier ce Cas</button>
      </fieldset>
    </form>
  </div>


  <h1>Nombre total de Cas : {{ nbCas }}, nb pages = {{nbPagesDeResultats}}</h1>
  <h1>Page actuelle = {{page}}</h1>
  <p>
    <input type="range" (change)="getCas()" value=10 min=2 max=100 [(ngModel)]="pagesize"> :
    {{pagesize}}
  </p>


  <!-- modal for Cas details-->
  <!-- <div *ngIf="sowhModal"> -->
  <jw-modal id="detail-modal">
    <div class="modal-header">
      <button class="modal-default-button" (click)="closeModal('detail-modal');">X</button>
      <h3>Details du Cas</h3>
    </div>

    <p>Dossier : {{detailCas.nom_dossier}}</p>
    <p>Zone : {{detailCas.zone}}</p>

    <h3>Resume :</h3>
    <!-- Verification de l'existance de l'adresse-->
    <div>
      <p>{{detailCas.resume_short}}</p>
    </div>
  </jw-modal>

  <!-- </div> -->

  <table>
    <tr>
      <th>Nom</th>
      <th>Zone</th>
      <th>Code postal</th>
      <th>Annee</th>
      <th>Nb Temoignage</th>
      <th colspan="2">Edition</th>
    </tr>
    <tbody>
      <tr *ngFor="let cas of listCas, let i=index" [ngStyle]="{color : getColor(i)}">

        <td (click)="detailsCas(i)">{{cas.nom_dossier}}</td>
        <td> {{cas.zone}}</td>
        <td> {{cas.zone_code}}</td>
        <td> {{cas.annee}}</td>
        <td> {{cas.nb_temoignage}}</td>
        <td><button (click)="deleteCas(i)">Supprimer</button></td>
        <td><button (click)="modifierCas(i)">Modifier</button></td>
      </tr>
    </tbody>
  </table>

  <div id="pagination" class="center-div">
    <button (click)="onFirstPage()" [ngStyle]="{inactif:(page==0)}">Premiere page</button>
    <button (click)="onPagePrecedente()" [ngStyle]="{inactif:(page==0)}">Page Precedente</button>
    <button (click)="onPageSuivante()" [ngStyle]="{inactif:(page == (nbPagesDeResultats-1))}">
      Page Suivante</button>
    <button (click)="onLastPage()" [ngStyle]="{inactif:(page == (nbPagesDeResultats-1))}">Derniere page</button>
  </div>

</div>